<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
</head>

<body>
    <nav>
        <h4 class="fw-bold"></h4>
        <a class="nav-link text-dark fw-semibold" asp-page="/Home">
            <span class="material-icons">home</span>
        </a>
        <a class="nav-link text-dark fw-semibold" asp-page="/Profile">
            <span class="material-icons">person</span> 
        </a>
        <a class="nav-link text-dark fw-semibold" asp-page="/Message">
            <span class="material-icons">chat</span>
        </a>
        <a class="nav-link text-dark fw-semibold" asp-page="/Notif">
            <span class="material-icons">notifications</span>
        </a>

        <a class="nav-link text-dark fw-semibold" asp-page="/Settings">
            <span class="material-icons">settings</span> 
        </a>
    </nav>
   
</body>
