@page
@model Dailee_Konnekt.Pages.NotifModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/notif.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
</head>

<body>
    <div class="Hero">
        <div class="Header">
            <p>Notification</p>
            <p class="Mark">Mark all as read</p>
        </div>
        <hr />
        <div class="NotifContent">
            <div class="ActiveN">
                <div class="ActiveS"></div>
                <div class="circle"></div>
                <h6>Username</h6>
                <p class="msgContent">
                    Hi Greetings Username, thank you for the reminder!
                    I'll see yah around then.
                </p>
            </div>
            <div class="ActiveN">
                <div class="ActiveS"></div>
                <div class="circle"></div>
                <h6>Username</h6>
                <p class="msgContent">
                    Hi Greetings Username, thank you for the reminder!
                    I'll see yah around then.
                </p>
            </div>
            <div class="ActiveN">
                <div class="ActiveS"></div>
                <div class="circle"></div>
                <h6>Username</h6>
                <p class="msgContent">
                    Hi Greetings Username, thank you for the reminder!
                    I'll see yah around then.
                </p>
            </div>
        </div>
    </div>
</body>